.flyout {
    position: absolute;
    background-color: #fff;
    top: 500px;
    left: 500px;
    min-height: 800px;
    max-height: calc(100vh - 100px);
    z-index: 1;
    border-radius: 10px;
    padding: 25px;
    font-size: 20px;
    border: 1px solid #ebebeb;
    margin-left: 30px;
    overflow: auto;
    box-shadow: 0px 6px 20px 0px #a2a2a2;

    &--hidden {
        display: none;
    }
    &__block-workspace {
        width: 100%;
        margin-bottom: 25px;

        * .blocklySvg {
            background-color: inherit !important;
        }
        * .blocklyMainBackground {
            stroke: none !important;
        }
    }
    &__item {
<<<<<<< HEAD
        &-header {
            display: flex;
            flex-direction: row;
            margin: 10px 0;
=======
        &-button {
            width: 100%;
            font-size: 100%;
            padding: 15px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 3px 1px #b3b1b1;
        }
        &-header {
            display: flex;
            margin: 15px 0;
>>>>>>> bc404a1b1442d26747e9916a197114edccc86439
        }
        &-label {
            font-weight: bold;
        }
        &-buttons {
            margin-left: auto;
            display: flex;
<<<<<<< HEAD
            align-items: center;

            > svg {
                height: 20px;
                width: 20px;
=======
            justify-content: flex-end;

            > .icon-info {
                height: 20px;
                width: 20px;
                align-self: center;
>>>>>>> bc404a1b1442d26747e9916a197114edccc86439
            }
        }
        &-add {
            padding: 5px 20px;
            border: none;
            font-size: 16px;
            color: #fff;
            border-radius: 5px;
            font-weight: bold;
            margin-left: 10px;
            background-color: #ff9933;
        }
    }
}